.navbar {
    margin-bottom: 20px;

    .navbar-brand {
        font-weight: bold;
        color: #17a2b8;  
    }

    .nav-link {
        &.active {
            font-weight: bold;
        }
        
        &:hover {
            text-decoration: underline;
        }
    }
}
